
/*===== Font of google fonts =====*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*==== var root=====*/

:root {
    /*==== body color =====*/
    --brg-: #F8F9F9;

    /*==== color filter =====*/

    --color-filter-: invert(1);

    /*==== word color =====*/

    --color-word-black-: #212121;
    --color-word-gray-: #5F6A6A;
    --color-word-btn-: #F8F9F9;


    /*==== items hover =====*/
    --color-items-hover-: #BDBDBD;

    /*==== btn's =====*/
    
    --color-btn-: #212121;

    /*==== about me =====*/
    
    --color-about-me-: #494949;

    /*==== nav =====*/

    --transparent-: rgba(134, 134, 134, 0.1);
    --transparent-2-: rgba(63, 63, 63, 0.2);

    /*==== var global =====*/

    --font-family-: 'Montserrat', sans-serif;
    --color-scroll: #707070;
    --box-shadow-: 0px 0px 20px rgb(0 0 0 / 20%);

    /*==== btn light/dark =====*/

    --color-brg-1-: rgba(134, 134, 134, 0.1);

    /*==== Moon =====*/

    --none-: block;
    --active-: 0%;

}

.dark-theme {
    --none-: none;
    --active-: 100%;

    /*==== color filter =====*/

    --color-filter-: invert(0);

    /*==== var global =====*/

    --color-scroll: #F4F6F7;


    /*==== body color =====*/
    --brg-: #111111;

    /*==== word color =====*/

    --color-word-black-: #F4F6F7 ;
    --color-word-gray-: #EEEEEE;
    --color-word-btn-: #212121;

    /*==== items hover =====*/
    --color-items-hover-: #9E9E9E;

    /*==== btn's =====*/
    
    --color-btn-: #F4F6F7;

    /*==== about me =====*/
    
    --color-about-me-: #F4F6F7;

    /*==== nav =====*/

    --transparent-: rgba(244, 246, 247, 0.1);

    
    /*==== btn light/dark =====*/
    --color-brg-1-: rgba(244, 246, 247, 0.1);
    --moon-color-: #F4F6F7;

}

.flex-center {
    margin: 0 auto;
}

/*=== reset body ====*/

* {
    box-sizing: border-box;
}

/*==== laoder =====*/

.loader{
    background: var(--brg-);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader div{
    background: #fff;
    width: 16px;
    height: 32px;
    margin-left: 10px;
    animation: loader 1.2s infinite;
  }
  
  @keyframes loader{
    50%{
      height: 64px;
    }
  }
  
  .loader div:nth-child(1){
    background: var(--color-word-black-);
    animation-delay: -0.40s;
  }
  
  .loader div:nth-child(2){
    background: var(--color-word-black-);
    animation-delay: -0.20s;
  }
  
  .loader div:nth-child(3){
    background: var(--color-word-black-);
    animation-delay: 0s;
  }

/*==== Body =====*/

body {
    font-family: var(--font-family-);
    width: 100%;
    height: 2500px;
    background: var(--brg-);
    transition: 0.3s ease;
}
/*==== Dark/Light btn =====*/

.mood-light-or-night {
    z-index: 999999;
    position: fixed;
    right: 0;
    top: 100px;
    background: var(--color-brg-1-); 
    backdrop-filter: blur(20px);
    width: 50px;
    height: 50px;
    font-size: 1.2em;
    border-radius: 5px 0 0 5px;
    box-shadow: var(--box-shadow-);
    cursor: pointer;
}

.mood-light-or-night .fa-moon {
    margin-left: 30%;
    margin-top: 30%;
    color: var(--moon-color-);
    display: var(--none-);
}

.mood-light-or-night .fa-sun {
    margin-left: 30%;
    margin-top: 30%;
    color: var(--color-word-black-);
    opacity: var(--active-);  
}



/*==== Scroll Bar =====*/

body::-webkit-scrollbar {
    width: 7px;
    margin-right: 15px;
}
body::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .2);
    border-radius: 20px;
    border-right: 10px solid var(--color-scroll);
}

/*==== Nav Bar =====*/

header {
    z-index: 9999;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(20px);
    transition: 0.6s ease;
}

header.Sticky {
    background: var(--transparent-);
    box-shadow: var(--box-shadow-);
}

.text-andres .title-name {
    font-weight: 700;
    font-size: 30px;
    margin: 0;
    color: var(--color-word-black-);
    transition: 0.3s ease;
}

.text-andres a {
    text-decoration: none;
}

.menu-bar .nav-initial a {
    text-decoration: none;
    font-size: 16px;
    color: var(--color-word-black-);
    margin: 24px;
    position: relative;
}

.menu-bar .nav-initial a.active {
    color: var(--color-active-bar-);
}

.menu-bar .nav-initial a:before {
    content: '';
    position: absolute;
    background: var(--color-word-black-);
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}
.menu-bar .nav-initial a:hover:before {
    width: 100%;
}
/*==== btn responsive =====*/

.btn-responsive {
    display: none;
}

.nav-bar {
    width: 75%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
}

header.Sticky .nav-bar {
    height: 50px;
}

header.Sticky .nav-bar .text-andres .title-name {
    font-size: 20px;
}

.nav-initial nav ul {
    display: flex;
}


/*==== Section =====*/

.container {
    width: 75%;
    height: 830px;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 8888;
}

/*==== Section-container-text-btn =====*/

.container .container-text-btn {
    width: 55%;
    height: 60%;
    align-items: left;
    margin-top: 15%;
}
/*==== h2 and h3 =====*/

.text-presentation .name, .web-dev {
    color: var(--color-word-black-);
}

.text-presentation h2, h3 {
    padding: 0;
    margin: 0;
}

.text-presentation h2 {
    font-size: 70px;
    font-weight: 600;
}

.text-presentation h3 {
    font-size: 40px;
    font-weight: 500;
}

.information .information-text {
    font-size: 23px;
    font-weight: 500;
    color: var(--color-word-gray-);
    margin-top: 7%;
}


/*==== IMG =====*/

.img-mine {
    width: 501px;
}

.img-mine .img-anr {
    width: 501px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%) brightness(120%);
    transition: 0.3s;
}

.img-anr:hover {
    -webkit-filter: grayscale(100%);
    filter: none;
    transform: scale(1.05);
}

/*==== Contact Me =====*/

.btn {
    
    width: 141px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: var(--color-btn-);
    margin-top: 10%;
    margin-left: 10px;
}
.btn a {
    margin: 0 auto;
    color: var(--color-word-btn-);
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    transition: 0.3s;
}

.btn a:hover {
    color: var(--color-items-hover-);
}

/*==== Scroll Down =====*/

.scroll-type {
    width: 21%;
    margin-left: 10px;
    margin-top: 50px;
    display: flex;
}

.scroll-type .scroll {
    color: var(--color-word-black-);
    font-size: 20px;
    font-weight: 300;
}

.scroll-type .scroll-arrow{
    margin-left: 10px;
    color: var(--color-word-black-);

}


.container-text-btn .scroll-type img {
    animation: scroll-arrow ease 1.5s infinite;
}

@keyframes scroll-arrow {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(10px);
    }
}

/*==== icons =====*/

.container .element-font-items {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.container .element-font-items a {
    color: var(--color-word-black-);
    text-align: center;
    font-size: 1.5em;
    margin: 10px 0;
    transition: 0.3s;
}

.container .element-font-items a:hover {
    color: var(--color-items-hover-);
    transform: scale(1.5);
}


/*==== Section 2 =====*/

.space {
    width: 100%;
    height: 160px;
}

/*==== img number 2 =====*/

.picture-and-information .img2 img {
    width: 428px;
    border-radius: 15px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%) brightness(120%);
    transition: 0.3s ease;
}

.picture-and-information .img2 img:hover {
    -webkit-filter: grayscale(100%);
    filter: none;
    transform: scale(1.05);
}

/*==== title about me =====*/

.container-section-2 .about-transparent {
    font-size: 4.5em;
    font-weight: 700;
    margin-bottom: 2rem;
    background: linear-gradient(to top, transparent 0%, var(--color-about-me-)  70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .1;

}

.container-section-2 .about-me {
    font-size: 2.5em;
    font-weight: 700;
    color: var(--color-word-black-);
    transform: translateY(-80px);
}

.container-2 {
    width: 100%;
    height: 1080px;
}
.container-section-2 {
    width: 75%;
}

.title-2 {
    width: 100%;
    text-align: center;
}
.picture-and-information {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.center-items {
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center-items-2 {
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.line-bar {
    width: 100%;
    height: 2px;
    background-color: var(--color-word-gray-);
}

.btn-2 {
    margin-top: 30px;
    width: 163px;
    height: 54px;
    background-color: var(--color-btn-);
    display: flex;
    align-items: center;
}

.btn-2 a {
    margin: 0 auto;
    font-size: 14px;
    font-weight: 600;
    color: var(--color-word-btn-);
    text-decoration: none;
    transition: 0.3s ease;
}

.btn-2 a:hover {
    color: var(--color-items-hover-);
}

.picture-and-information .img2 {
    width: 40%;
    text-align: center;
}


.information-2 {
    margin-top: 0;
    width: 50%;
    height: 70%;
}

.information-2 .im-andres {
    margin-top: 0px;
    margin-bottom: 1px;
    font-size: 70px;
    color: var(--color-word-black-);
}

.information-2 .information-rotate {
    font-size: 26px;
    font-weight: 600;
    color: var(--color-word-black-);
}

.information-2 .container-information {
    margin-top: 10%;
    font-size: 23px;
    color: var(--color-word-gray-);
}

/*==== experiencia =====*/

.experence .years {
    font-weight: 800;
    font-size: 60px;
    line-height: 0px;
    color: var(--color-word-black-);
}

.experence p {
    font-weight: 600;
    font-size: 15px;
    color: var(--color-word-gray-);
}

/*==== btn scroll up =====*/

.ir-arriba {
	display: none;
	padding: 15px;
	cursor: pointer;
	position: fixed;
	bottom: 30px;
	right: 30px;
    border-radius: 10px;
    backdrop-filter: blur(20px);
}
.ir-arriba i {
    font-size:20px;
    color: var(--color-word-black-);
}


/* laptop of width 1536px */ 

@media screen and (max-width:1536px) and (min-width:1420px) {
    .text-andres .title-name {
        font-size: 24px;
    }

    .menu-bar .nav-initial a {
        font-size: 14px;
    }

    header.Sticky .nav-bar .text-andres .title-name {
        font-size: 20px;
    }

    .img-mine .img-anr {
        width: 370px;
    }
    .img-mine {
        width: 370px;
    }

    .container {
        margin-top: 0;
    }

    .text-presentation h2 {
        font-size: 50px;
    }
    
    .text-presentation h3 {
        font-size: 20px;
    }

    .information .information-text {
        font-size: 18px;
    }

    .scroll-type {
        width: 21%;
        margin-left: 10px;
        margin-top: 50px;
        display: flex;
    }
    
    .scroll-type .scroll {
        font-size: 15px;
    }
    
    .scroll-type .scroll-arrow{
        margin-left: 10px;
        margin-top: 10px;
        width: 18.06px;
        height: 20.44px;
    }

    .btn {
        width: 103px;
        height: 36px;
    }
    .btn a {
        font-size: 12px;
    }

    .container .element-font-items a {
        font-size: 1.3em;
    }

    .container .element-font-items a:hover {
        transform: scale(1.3);
    }

    .container-2 {
        height: 760px;
    }

    .picture-and-information .img2 img {
        width: 380px;
    }

    .picture-and-information .img2 img:hover {
        transform: scale(1.02);
    }

    .space {
        height: 20px;
    }

    .container-section-2 .about-transparent {
        font-size: 4.3em;
        margin-bottom: 2.5rem;
    }

    .container-section-2 .about-me {
        font-size: 2.3em;
    }

    .information-2 .im-andres {
        font-size: 50px;
    }

    .information-2 .information-rotate {
        font-size: 20px;
    }

    .information-2 .container-information {
        font-size: 18px;
    }

    .experence .years {
        font-size: 50px;
    }
    
    .experence p {
        font-size: 13px;
    }

    .btn-2 {
        width: 133px;
        height: 42px;
    }

    .btn-2 a {
        font-size: 12px;
    }
}

@media screen and (max-width:1070px) {
    
    .text-andres .title-name {
        font-size: 24px;
    }
    
    .menu-bar {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--transparent-2-);
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease;
    }

    .menu-bar.active {
        visibility: visible;
        opacity: 100;
    }

    .nav-initial {
        position: relative;
        background: var(--color-word-btn-);
        width: 600px;
        max-width: 600px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 20px;
        padding: 40px;
        border-radius: 10px;
        box-shadow: var(--box-shadow-);
        transform: translateY(-50px);
        transition: 0.3s ease;

    }

    .menu-bar.active .nav-initial {
        transform: translateY(0);
    }

    .nav-initial a {
        margin: 15px 50px;
    }

    .nav-close-btn {
        position: absolute;
        background: url(../img/close-btn.png)no-repeat;
        filter: var(--color-filter-);
        background-size: 12px;
        background-position: center;
        width: 40px;
        height: 40px;
        top: 0;
        right: 0;
        margin: 10px;
        cursor: pointer;
    }

    .btn-responsive {
        background: url(../img/menu-btn.png)no-repeat;
        filter: var(--color-filter-);
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: block;
    }

    .img-mine .img-anr {
        width: 320px;
    }

    .img-mine {
        width: 320px;
    }

    .container {
        margin-top: 45%;
        flex-direction: column-reverse;
    }

    .picture-and-information .img2 img {
        width: 280px;
    }
    .container .element-font-items {
        flex-direction: row;
    }

    .container .element-font-items a{
        margin: 30px;

    }

}

@media screen and (max-width:450px) {
    .container {
        margin-top: 170px;
        flex-direction: column-reverse;
    }

    .nav-bar {
        height: 60px;
    }

    .btn-responsive {
        background-size: 25px;
    }

    .container .element-font-items a{
        margin: 10px;
    }

    .text-andres .title-name {
        font-size: 18px;
    }
    
    header.Sticky .nav-bar .text-andres .title-name {
        font-size: 14px;
    }

    .text-presentation h2 {
        font-size: 38px;
    }
    
    .text-presentation h3 {
        font-size: 22px;
    }

    .information .information-text {
        font-size: 15px;
    }

    .container .container-text-btn {
        width: 100%;
    }

    .btn {
    
        width: 135px;
        height: 45px;
        margin-top: 70px;
        margin-left: 0;
        border-radius: 5px;
    }

    .container-2 {
        height: 1300px;
    }

    .space {
        height: 70px;
    }

    .container-section-2 .about-transparent {
        font-size: 3em;
        margin-bottom: 1.2em;

    }
    
    .container-section-2 .about-me {
        font-size: 2em;
    }

    .scroll-type {
        width: 130px;
        margin-left: 0;
        margin-top: 15px;
    }

    .scroll-type .scroll {
        font-size: 15px;
    }

    .scroll-type .scroll-arrow{
        width: 17px;
    }

    .picture-and-information {
        flex-direction: column;
        width: 100%;
    }

    .picture-and-information .img2 {
        width: 100%;
    }

    .information-2 {
        width: 100%;
        height: 70%;
    }

    .experence {
        flex-direction: column;
    }

    .information-2 .im-andres {
        font-size: 38px;
    }
    
    .information-2 .information-rotate {
        font-size: 22px;
    }

    .information-2 .container-information {
        font-size: 15px;
    }
}


@media screen and (max-width:375px) {
    .container {
        margin-top: 150px;
        flex-direction: column-reverse;
    }
}
